<html>
    <head>
        <link rel="stylesheet" href="/css/main.css" />
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" />
    </head>
    <body>
        <div class="title">Ranking serwera</div>
        <div class="wrapper">
            <% for(var i=0; i<xp.length; i++) { %>
                <div class="block">
                    <div class="rank"><%=i+1%></div>
                    <img class="avatar" src="<%=xp[i].avatarurl %>">
                    <div class="user"><%=xp[i].name %></div>
                    <div class="lvl"><%=xp[i].level%> poziom</div><div class="exp"> | <%=xp[i].xp%> xp </div>
                </div>
            <% } %>
        </div>
    </body>
</html>